body {
    background-color: #f9fff4;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

/* Header Styles */
header {
    display: flex;
}

#wetail-icon {
    width: 50px;
    height: 50px;
}

/* Search Bar Styles */
#search-bar-container {
    display: flex;
    justify-content: center;
    margin: 7px;
}

/* Navigation Bar Styles */
#nav-bar-box {
    display: flex;
    justify-content: center;
}

#nav-bar-container {
    display: flex;
    justify-content: center;
    width: 75vw;
    height: 50px;
    border-radius: 28px;
    border-radius: 28px;
    background: #f9fff4;
    box-shadow: 7px 7px 14px #cfd4cb,
        -7px -7px 14px #ffffff;
}

.nav-bar {
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 0.5em;
    background: #f9fff4;
    border: 1px solid #f9fff4;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.nav-bar:hover {
    color: #674;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
    cursor: pointer;
}

#alcohol-content {
    display: none;
    background-color: rgb(216, 211, 211);
    border-radius: 28px;
    text-align: center;
    flex-direction: column;
}

li {
    list-style-type: none;
}

li:hover {
    color: #000000;
}

/* Cocktail Container Styles */
#display-cocktail-container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.displays{
    display: flex;
    flex-direction: column;
}

/* Button Styles */
#button {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 20px;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 10px;
    border-radius: 0.5em;
    background: #f9fff4;
    border: 1px solid #f9fff4;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    margin: 5px;
    cursor: pointer;
}

button:active {
    color: #674;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

/* Image Thumbnail Section Styles */
#browse-container{
    display:flex;
    justify-content: center;
}
#browse {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 28px;
    border-radius: 28px;
    background: #f9fff4;
    box-shadow: 7px 7px 14px #cfd4cb,
        -7px -7px 14px #ffffff;
}

#cocktail-image-box {
    display: flex;
    justify-content: center;
}

#cocktail-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw
}

#cocktail-image-container img {
    width: 17%;
    border: solid rgba(0, 0, 0, .5) 1px;
    margin: 0.3em;
    border-radius: 28px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 14px #d4d4d4,
        -7px -7px 14px #ffffff;
}