body {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

/* Header Styles */
header {
    display: flex;
}

#wetail-icon {
    width: 50px;
    height: 50px;
}

/* Search Bar Styles */
#search-bar-container {
    display: flex;
    justify-content: center;
    margin: 7px;
}

/* Navigation Bar Styles */
#nav-bar-box {
    display: flex;
    justify-content: center;
}

#nav-bar-container {
    display: flex;
    justify-content: center;
    width: 65vw;
    border-radius: 28px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 14px #d4d4d4,
        -7px -7px 14px #ffffff;

}

.nav-bar {
    margin: 10px;
    padding: 5px;
    border-radius: 28px;
    background: #ffffff;
    box-shadow: inset 7px 7px 14px #d4d4d4,
        inset -7px -7px 14px #ffffff;
}

.nav-bar:hover {
    color: rgb(0, 0, 0, .5);
    cursor: pointer;
}

h3#alchoholCat.nav-bar {
    display: flex;
    flex-direction: column;
}

/* Cocktail Container Styles */
#display-cocktail-container {
    display: flex;
    justify-content: center;
}

/* Image Thumbnail Section Styles */
#browse {
    display: flex;
    justify-content: center;
}

#cocktail-image-box {
    display: flex;
    justify-content: center;
}

#cocktail-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw
}

#cocktail-image-container img {
    width: 17%;
    border: solid rgba(0, 0, 0, .5) 1px;
    margin: 0.3em;
    border-radius: 28px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 14px #d4d4d4,
        -7px -7px 14px #ffffff;
}